#head-wrapper {
	text-align: center;
}
#site-wrapper {
	border:solid 2px;
}

#head-wrapper {
	border:solid 2px;
	height: 200px;
}

#content-wrapper {
	border:solid 2px;
	height: 500px;
}

footer {
	border:solid 2px;
	height: 100px;	
}
