.parallax {
 	position: relative;
  	opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: repeat-x;
  	background-size: cover;
	background-image: url("../images/a.jpg");
	height:700px;
  width: 100%
}
.glyphicon-chevron-down {
	font-size: 50px;
}
.arrow-down {
	position: absolute;
  	left: 0;
  	top: 87%;
  	width: 100%;
  	text-align: center;
  	color: #AAAAAA;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  /*color: #000;*/
}


.caption span.border {
  /*background-color: #111;*/
  /*color: #fff;*/
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


#head-wrapper {
	text-align: center;
}
#site-wrapper {


}

#head-wrapper {
	height: 200px;
}

#content-wrapper {
	height: 500px;
}

footer {
	height: 100px;	
}
