.parallax {
	background-image: url("../images/a.jpg");

	min-height: 700px;
 	position: relative;
  	opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}


.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


#head-wrapper {
	text-align: center;
}
#site-wrapper {
	border:solid 2px;
}

#head-wrapper {
	border:solid 2px;
	height: 200px;
}

#content-wrapper {
	border:solid 2px;
	height: 500px;
}

footer {
	border:solid 2px;
	height: 100px;	
}
