.navbar {
	background-image: none;
}
.navbar-custom {
    background-image:url(../images/navbar.png);
    border-radius:0;
}

.list-menu {
	padding:5px;
	margin-left: 0px;
	font-size: 13pt;
	font-weight: bold;
}
.searchbox {
	display:inline-block;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 20px;
	height: 7px;
}
.searchbox-btn{
	height: 34px;
}
.logo{
	padding:0;
	margin-left:90px;
	margin-right:30px;
}
/*menu yang sudah di modifikasi*/
.custom-menu {
	color:black!important;
}
/*menu yang sudah di modifikasi saat hover*/
.custom-menu:hover {
	color:white!important;
}